<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Member's name:</strong>
    <%= @bureausmember.user.student.name + " " + @bureausmember.user.student.surname if !@bureausmember.user.student.nil? %>
  </p>

  <p>
    <strong>Member's email:</strong>
    <%= @bureausmember.user.email if !@bureausmember.user.student.nil? %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= @bureausmember.profil.name %>
  </p>

  <p>
    <strong>Registration date:</strong>
    <%= @bureausmember.created_at %>
  </p>

  <p>
    <strong>Started At:</strong>
    <%= @bureausmember.started_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @bureausmember.duration %>
  </p>

  <%= link_to 'Edit', edit_bureausmember_path(@bureausmember) %> |
  <%= link_to 'Back', bureausmembers_path %>
</main>