<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <% student.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
    <div class="card card-block">
      <p class="style" style="" >PERSONAL INFORMATIONS</p>
      
      <div class="form-group">
        <label class="btn btn-primary">
         Identity Picture<%= form.file_field :photo ,style:"display:none;"%>
        </label>
        <span>Format JPEG JPG PNG</span>
      </div>

      <div class="form-group">
        <label class="btn btn-primary">
          Passeport Picture<%= form.file_field :passport_picture ,style:"display:none;"%>
        </label>
        <span>Format JPEG JPG PNG</span>

      </div>
      
      <div class="form-group">
        <%= form.label :name, class: ""%>
        <%= form.text_field :name ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :surname, class: ""%>
        <%= form.text_field :surname ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :Sexe  ,class: ""%>
        <%= form.collection_select(:genre_id, Genre.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>

      <div class="form-group">
        <%= form.label :date_of_birth  ,class: ""%>
        <%= form.date_field :date_of_birth  ,class: "form-control col-md-3"%>
      </div>


      <div class="form-group">
        <%= form.label :telephone  ,class: ""%>
        <%= form.text_field :telephone  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :email  ,class: ""%>
        <%= form.text_field :email  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :passport_number  ,class: ""%>
        <%= form.text_field :passport_number  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :passport_expiration_date  ,class: ""%>
        <%= form.date_field :passport_expiration_date  ,class: "form-control col-md-3"%>
      </div>

      <!--div class="form-group">
        <%#= form.label :carte_consulaire_id  ,class: ""%>
        <%#= form.collection_select(:carteconsulaire_id, Carteconsulaire.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div-->

      <div class="form-group">
        <%= form.label :address  ,class: ""%>
        <%= form.text_field :address  ,class: "form-control col-md-4"%>
      </div>

      <div class="form-group">
        <%= form.label :are_you_in_china? %>
        <%= form.collection_select(:are_you_in_china, YesNo.order(:name), :name, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>
    </div>
    <br>


    <div class="card card-block">
      <p class="style" style="margin:auto;" >SCHOLARSHIP INFORMATIONS</p>
      
      <div class="form-group">
        <%= form.label :"Do you have an scholarship?" %>
        <%= form.collection_select(:boursier_id, Boursier.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>

    <div class="form-group">
      <%= form.label :type_of_scholarship %>
      <%= form.collection_select(:typebourse_id, Typebourse.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>
  </div>

  <br>
      <div class="card card-block">
        <p class="style" style="margin:auto;" >CHINESE LANGUAGE YEAR </p>
        
        <div class="form-group">
          <%= form.label "Have you done a chinese language year?" %>
          <%= form.collection_select(:faireanneelangue_id, Faireanneelangue.order(:name), :id, :name,
            {
              include_blank: true
            },
            class: "form-control col-md-3"
          ) %>
        </div>
        <span class="form-control col-md-1" style="color:red;"><strong>IF YES</strong></span>
        <div class="form-group">
          <%= form.label "Province of chinese language" %>
          <%= form.collection_select(:language_province, Province.order(:name), :id, :name,
              {
                include_blank: true
              },
              class: "form-control col-md-3"
            ) %>
        </div>

    <div class="form-group">
      <%= form.label "In Which Year:" %>
      <%= form.date_field :year_of_chinese_language,class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :Chinese_language_university%>
      <%= form.text_field :university_of_chinese_language_year,class: "form-control col-md-3" %>
    </div>
      </div>
    <br>

    <div class="card card-block">
      <p class="style" style="margin:auto;" >ABOUT MAJOR INFORMATIONS</p>
      
      <div class="form-group">
      <%= form.label :starting_year_of_my_major %>
      <%= form.date_field :starting_year_major,class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label "Province of major" %>
      <%= form.collection_select(:province_id, Province.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
      ) %>
    </div>

    <div class="form-group">
      <%= form.label :university_of_major%>
      <%= form.text_field :university_major,class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :Major%>
      <%= form.text_field :major, class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :Language_of_major  %>
      <%= form.collection_select(:langueformation_id, Langueformation.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
      </div>

    <div class="form-group">
      <%= form.label :Major_duration%>
      <%= form.text_field :major_duration,class: "form-control col-md-3" %>
    </div>


    <div class="form-group">
      <%= form.label :Year_of_graduation%>
      <%= form.date_field :graduation_year, class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :Major_level%>
      <%= form.collection_select(:niveauformation_id, Niveauformation.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>
  </div>

    
  <br>
    <div class="form-group">
      <%= form.submit 'Valider', class: 'btn btn-primary' %>
    </div>
  <% end %>
