<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4"  style="margin-right:auto;">
      <div class="card card-block">
        <p class="style" >PHOTO</p>
        <div>
          <p>
            <strong>Photo:</strong>
          </p>
          
          <p>
          <%# if !@student.photo.attachment.nil? %>
            <%# if @student.photo.content_type == "application/pdf" %>
              <!--iframe src="<%#= rails_blob_path(@student.photo, disposition: :inline) %>" height="400" width="auto"></iframe-->
            <%# else %>
              <%= image_tag @student.photo, width: "50%" if @student.photo.attached? %>
            <%# end %>
          <%# end %>
            
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-block">
      <p class="style" >PASSPORT PICTURE</p>
        <div>
          <p>
            <strong>Passport image:</strong>
          </p>
          <p>
          <%# if !@student.passport_picture.attachment.nil? %>
            <%# if @student.passport_picture.content_type == "application/pdf" %>
              <!--iframe src="<%#= rails_blob_path(@student.passport_picture, disposition: :inline) %>" height="800" width="500"></iframe-->
            <%# else %>
              <%= image_tag @student.passport_picture, width: "50%" if @student.passport_picture.attached? %>
            <%# end %>
          <%# end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="card card-block">
    <p class="style" >PERSONAL INFORMATIONS</p>
    <div>
      <p>
        <strong>Name:</strong>
        <%= @student.name %>
      </p>

      <p>
        <strong>Surname:</strong>
        <%= @student.surname %>
      </p>

      <p>
        <strong>Date of birth:</strong>
        <%= @student.date_of_birth %>
      </p>

      <p>
        <strong>Sex:</strong>
        <%= @student.genre.name %>
      </p>

      <p>
        <strong>Telephone:</strong>
        <%= @student.telephone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @student.email %>
      </p>

      <p>
        <strong>Passeport Number:</strong>
        <%= @student.passport_number %>
      </p>

      <p>
        <strong>Passeport expiration date:</strong>
        <%= @student.passport_expiration_date %>
      </p>

      <p>
        <strong>Are you in China:</strong>
        <%= @student.are_you_in_china %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @student.address %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="card card-block col-md-5" style="margin:1%;margin-right:auto;">
      <p class="style" >SCHOLARSHIP INFORMATIONS</p>
      <div>
        <p>
          <strong>Do you have scholarahip:</strong>
          <%= @student.boursier.name %>
        </p>

        <p>
          <strong>Type of scholarship:</strong>
          <%= @student.typebourse.name if !@student.typebourse.nil?%>
        </p>
      </div>
    </div>

    
    <div class="card card-block col-md-5" style="margin:1%;">
      <p class="style" >YEAR OF CHINESE LANGUAGE</p>
      <div>
        <p>
          <strong>Have you done a chinese language year:</strong>
          <%= @student.faireanneelangue.name %>
        </p>

        <p>
          <strong>Province of chinese language year:</strong>
          <%= @language_province.name if !@language_province.nil?%>
        </p>

        <p>
          <strong>Year of chinese language:</strong>
          <%= @student.year_of_chinese_language %>
        </p>

        <p>
          <strong>University of chinese language year:</strong>
          <%= @student.university_of_chinese_language_year %>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="card card-block">
    <p class="style" >MAJOR INFORMATIONS</p>
    <div>
      <p>
        <strong>Year of starting major:</strong>
        <%= @student.starting_year_major %>
      </p>

      <p>
        <strong>Province of major:</strong>
        <%= @student.province.name %>
      </p>

      <p>
        <strong>University of major:</strong>
        <%= @student.university_major %>
      </p>

      <p>
        <strong>Major:</strong>
        <%= @student.major %>
      </p>

      <p>
        <strong>Major Tutor Language:</strong>
        <%= @student.langueformation.name %>
      </p>

      <p>
        <strong>Major duration:</strong>
        <%= @student.major_duration %>
      </p>

      <p>
        <strong>Year of graduation:</strong>
        <%= @student.graduation_year %>
      </p>

      <p>
        <strong>Level of Major:</strong>
        <%= @student.niveauformation.name %>
      </p>
    </div>
  </div>

  <hr>  

  <%= link_to 'Edit', edit_student_path(@student) %> |
  <%= link_to 'Back', students_path %>
</main>