<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Typebourses</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @typebourses.each do |typebourse| %>
        <tr>
          <td><%= typebourse.name %></td>
          <td><%= link_to 'Show', typebourse %></td>
          <td><%= link_to 'Edit', edit_typebourse_path(typebourse) %></td>
          <td><%= link_to 'Destroy', typebourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Typebourse', new_typebourse_path %>
</main>