<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Docs</h1>
  <% @docs.each do |doc| %>
    <div class="card">
      <div class="card-body">
        <div class="col-md-4">
          Title : <%= doc.name %>
        </div>
        <div class="col-md-4">
          Owner's email: <%= doc.user.email%>
        </div>
        <div class="">
          <%#= image_tag doc.image, width:'25%' if doc.image.attached? %>
        </div>
      </div>

      <div class="">
        <div class="col-md-2 btn btn-info"><%= link_to 'Show', doc %></div>
        <div class="col-md-2 btn btn-warning"><%= link_to 'Edit', edit_doc_path(doc) %></div>
        <%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin, :president) %>
      </div>
    </div>

          
  <br>
        
  <% end %>
    
  <br>

  <%= link_to 'New Document', new_doc_path, class:"btn btn-primary" if logged_in?(:site_admin, :responsable, :president) %>
</main>