<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name : </strong>
    <%= @doc.name %>
  </p>

  <p>
    <strong>User's email owner : </strong>
    <%= @doc.user.email %>
  </p>

  <p style="border: 1px solid #5bc0de;">
    <%= link_to 'doc', @doc.image_url, width: "50%" if @doc.image %>
  </p>

  <%= link_to 'Edit', edit_doc_path(@doc) %> |
  <%= link_to 'Back', docs_path %>
</main>