<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name : </strong>
    <%= @doc.name %>
  </p>

  <p>
    <strong>User's email owner : </strong>
    <%= @doc.user.email %>
  </p>

  <p style="border: 1px solid #5bc0de;">
    <strong></strong>
    <%#=image_tag @doc.image, width:'50%' if @doc.image.attached?  %>
    <% if !@doc.image.attachment.nil? %>
      <% if @doc.image.content_type == "application/pdf" %>
        <!--iframe src="<%#= rails_blob_path(@doc.image, disposition: :inline) %>" height="800" width="500"></iframe-->
        <%= link_to @doc.image.filename, rails_blob_path(@doc.image),disposition: "attachment" width: '50%' %>
      <% else %>
        <%= image_tag @doc.image, width: "50%" %>
      <% end %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_doc_path(@doc) %> |
  <%= link_to 'Back', docs_path %>
</main>