<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <%= form_with(model: yes_no, local: true) do |form| %>
    <% if yes_no.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(yes_no.errors.count, "error") %> prohibited this yes_no from being saved:</h2>

        <ul>
        <% yes_no.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</main>