<%= form_with(model: profil, local: true) do |form| %>
  <% if profil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

      <ul>
      <% profil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control col-md-4" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
