<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Profils</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profils.each do |profil| %>
        <tr>
          <td><%= profil.name %></td>
          <td><%= link_to 'Show', profil %></td>
          <td><%= link_to 'Edit', edit_profil_path(profil) %></td>
          <td><%= link_to 'Destroy', profil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Profil', new_profil_path %>
</main>