<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" style="margin-top:3%;">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nom du zone:</strong>
    <%= @zone.name %>
  </p>

  <p style="width:100px;height:auto;">
    <strong>Code Qr:</strong>
    <%= image_tag @zone.codeqr.to_s%>
  </p>

  <p>
    <strong>Responsable de Zone:</strong>
    <%= @zone.user.email %>
  </p>

  <%= link_to 'Edit', edit_zone_path(@zone) %> |
  <%= link_to 'Back', zones_path %>
</main>