<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @newinformation.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= markdown(@newinformation.body) %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if !@newinformation.photo.attachment.nil? %>
      <% if @newinformation.photo.representable? %>
        <embed height="800" width="80%" src="<%= polymorphic_url(@newinformation.photo) %>">
      <% elsif @newinformation.photo.attached? %>
          <%= image_tag @newinformation.photo %>
      <% end %>
    <% end %>
  </p>
  <%= link_to 'Edit', edit_newinformation_path(@newinformation) %> |<%= link_to 'Destroy', @newinformation, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin, :president)%>
  <%= link_to 'Back', newinformations_path %>
</main>