<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @newinformation.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= markdown(@newinformation.body) %>
  </p>

  <p style="">
    <strong>Image:</strong>
    <% if @newinformation.photo.attached? %>
      <% if @newinformation.photo.content_type ==  "image/jpeg" or @newinformation.photo.content_type == "image/jpg" or @newinformation.photo.content_type == "image/png" %>
        <%= image_tag @newinformation.photo, width: "50%" if @newinformation.photo %>
      <% else %>
        <%= link_to @newinformation.photo.filename, @newinformation.photo, width: "50%" %>
      <%#=  @doc.image.content_type %>
      <% end %>
    <% end %>
  </p>
  <% if logged_in?(:site_admin, :president) %>
    <%= link_to 'Edit', edit_newinformation_path(@newinformation) %> |<%= link_to 'Destroy', @newinformation, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', newinformations_path %>
</main>