<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @newinformation.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= markdown(@newinformation.body) %>
  </p>

  <p style="">
    <strong>Image:</strong>
    <%# if !@newinformation.photo.attachment.nil? %>
      <%# if @newinformation.photo.content_type == "application/pdf" %>
        <!--iframe src="<%#= rails_blob_path(@newinformation.photo, disposition: :inline) %>" height="800" width="500"></iframe-->
      <%# else %>
        <%= image_tag @newinformation.photo, width: "50%" if @newinformation.photo.attached?%>
      <%# end %>
    <%# end %>

      <%# if @newinformation.photo.representable? %>
        
        <!--embed height="800" width="100%" src="<%#= polymorphic_url(@newinformation.photo) %>"-->

      <%# elsif @newinformation.photo.attached? %>
          <!--span><%#= image_tag @newinformation.photo, width: "50%" %></span-->
      <%# end %>
    <%# end %>
  </p>
  <% if logged_in?(:site_admin, :president) %>
    <%= link_to 'Edit', edit_newinformation_path(@newinformation) %> |<%= link_to 'Destroy', @newinformation, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', newinformations_path %>
</main>