<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <%= form_with(model: province, local: true) do |form| %>
    <% if province.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(province.errors.count, "error") %> prohibited this province from being saved:</h2>

        <ul>
        <% province.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control col-md-3" %>
    </div>

    <!--div class="form-group">
      <%#= form.label :Zone %>
      <%#= form.collection_select(:zone_id, Zone.all, :id, :name,
            {
              include_blank: true
            },
            class: "form-control col-md-3"
          ) %>
    </div-->

    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</main>