<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" style="margin-top:3%">
  <p id="notice"><%= notice %></p>

  <h1>Provinces</h1>
  <%#= link_to "Extract Provinces as spreadsheet", provinces_path(format: "xlsx")  if logged_in?(:site_admin, :president)%>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>du</th>
        <th>Zone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @provinces.each do |province| %>
        <tr>
          <td><%= province.name %></td>
          <td>==></td>
          <td><%= province.zone.name  if !province.zone.nil?%></td>
          <td><%= link_to 'Show', province %></td>
          <td><%= link_to 'Edit', edit_province_path(province) %></td>
          <td><%= link_to 'Destroy', province, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Province', new_province_path %>
</main>