<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <%= form_with(model: etudiant, local: true) do |form| %>
    <% if etudiant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(etudiant.errors.count, "error") %> prohibited this etudiant from being saved:</h2>

        <ul>
        <% etudiant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card card-block">
      <p class="" style="margin:auto;back" >Information Personnelle</p>
      <div class="form-group">
      <%= form.label :nom  ,class: "form-control"%>
      <%= form.text_field :nom ,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :prenom  ,class: "form-control"%>
      <%= form.text_field :prenom ,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :date_nasissance  ,class: "form-control"%>
      <%= form.date_field :date_nasissance  ,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :genre_id  ,class: "form-control"%>
      <%= form.collection_select(:genre_id, Genre.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>

    <div class="form-group">
      <%= form.label :telephone  ,class: "form-control"%>
      <%= form.number_field :telephone  ,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :passport  ,class: "form-control"%>
      <%= form.text_field :passport  ,class: "form-control",placeholder: "EX:AXXXX"%>
    </div>

    <div class="form-group">
      <%= form.label :date_passport_expiration  ,class: "form-control"%>
      <%= form.date_field :date_passport_expiration  ,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :carteconsulaire_id  ,class: "form-control"%>
      <%= form.collection_select(:carteconsulaire_id, Carteconsulaire.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>

    <div class="form-group">
      <%= form.label :adresse  ,class: "form-control"%>
      <%= form.text_field :adresse  ,class: "form-control"%>
    </div>
    </div>
    <br>


    <div class="card card-block">
      <p class="" style="margin:auto;" >Informations sur la bourse</p>
      <div class="form-group">
      <%= form.label :boursier_id%>
      <%= form.collection_select(:boursier_id, Boursier.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>

    <div class="form-group">
      <%= form.label :Type_de_bourse%>
      <%= form.collection_select(:typebourse_id, Typebourse.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>
  </div>

  <br>
      <div class="card card-block">
        <p class="" style="margin:auto;" >L'année de langue </p>
        <div class="form-group">
          <%= form.label "Avez-vous fait une annee de langue?" %>
          <%= form.collection_select(:faireanneelangue_id, Faireanneelangue.order(:name), :id, :name,
            {
              include_blank: true
            },
            class: "form-control col-md-3"
          ) %>
        </div>
        <span class="form-control col-md-1">si OUI</span>
        <div class="form-group">
      <%= form.label :Province %>
      <%= form.text_field :province,placeholder:"EX: BEJING",class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "En quelle année:" %>
      <%= form.date_field :annee_langue_chinoise,class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :universite_annee_langue_chinoise%>
      <%= form.text_field :universite_annee_langue_chinoise,class: "form-control" %>
    </div>
      </div>
    <br>

    <div class="card card-block">
      <p class="" style="margin:auto;" >Information sur ma formation </p>

      <div class="form-group">
      <%= form.label :annee_debut_filiere %>
      <%= form.date_field :annee_debut_filiere,class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :province_uinversite_filiere%>
      <%= form.text_field :province_uinversite_filiere, pattern:"[A-Z]{3,255}",placeholder:"EN MAJUSCULE",class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :universite_filiere%>
      <%= form.text_field :universite_filiere, pattern:"[A-Z]{0,255}",placeholder:"EN MAJUSCULE",class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :filiere%>
      <%= form.text_field :filiere,class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :duree_formation%>
      <%= form.number_field :duree_formation,class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :annee_graduate%>
      <%= form.date_field :annee_graduate, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :niveau_formation%>
      <%= form.number_field :niveau_formation, class: 'form-control'%>
    </div>
    </div>

    
  <br>
    <div class="form-group">
      <%= form.submit 'Valider', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </main>