<%= form_with(model: etudiant, local: true) do |form| %>
  <% if etudiant.errors.any? %>
    <% etudiant.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
    <div class="card card-block">
      <p class="style" style="" >INFORMATIONS PERSONNELLES</p>
      
      <div class="form-group">
        <label class="btn btn-primary">
          Ma photo <%= form.file_field :photo ,style:"display:none;"%>
        </label>
      </div>

      <div class="form-group">
        <label class="btn btn-primary">
          Passeport<%= form.file_field :passport_image ,style:"display:none;"%>
        </label>
      </div>
      
      <div class="form-group">
        <%= form.label :nom, class: ""%>
        <%= form.text_field :nom ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :prenom, class: ""%>
        <%= form.text_field :prenom ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :date_de_naissance  ,class: ""%>
        <%= form.date_field :date_nasissance  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :genre_id  ,class: ""%>
        <%= form.collection_select(:genre_id, Genre.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>

      <div class="form-group">
        <%= form.label :telephone  ,class: ""%>
        <%= form.text_field :telephone  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :email  ,class: ""%>
        <%= form.text_field :email  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :Numero_de_passport  ,class: ""%>
        <%= form.text_field :passport  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :date_passeport_expiration  ,class: ""%>
        <%= form.date_field :date_passport_expiration  ,class: "form-control col-md-3"%>
      </div>

      <div class="form-group">
        <%= form.label :carte_consulaire_id  ,class: ""%>
        <%= form.collection_select(:carteconsulaire_id, Carteconsulaire.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>

      <div class="form-group">
        <%= form.label :adresse  ,class: ""%>
        <%= form.text_field :adresse  ,class: "form-control col-md-4"%>
      </div>

      <div class="form-group">
        <%= form.label :Êtes_vous_en_chine_? %>
        <%= form.collection_select(:etreenchine, YesNo.order(:name), :name, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>
    </div>
    <br>


    <div class="card card-block">
      <p class="style" style="margin:auto;" >INFORMATIONS SUR MA BOURSE</p>
      
      <div class="form-group">
        <%= form.label :boursier_id%>
        <%= form.collection_select(:boursier_id, Boursier.order(:name), :id, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
        ) %>
      </div>

    <div class="form-group">
      <%= form.label :Type_de_bourse%>
      <%= form.collection_select(:typebourse_id, Typebourse.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>
  </div>

  <br>
      <div class="card card-block">
        <p class="style" style="margin:auto;" >ANNÉE DE LANGUE </p>
        
        <div class="form-group">
          <%= form.label "Avez-vous fait une année de langue?" %>
          <%= form.collection_select(:faireanneelangue_id, Faireanneelangue.order(:name), :id, :name,
            {
              include_blank: true
            },
            class: "form-control col-md-3"
          ) %>
        </div>
        <span class="form-control col-md-1" style="color:red;"><strong>SI OUI</strong></span>
        <div class="form-group">
          <%= form.label :Province %>
          <%= form.collection_select(:province_id, Province.order(:name), :id, :name,
              {
                include_blank: true
              },
              class: "form-control col-md-3"
            ) %>
        </div>

    <div class="form-group">
      <%= form.label "En quelle année:" %>
      <%= form.date_field :annee_langue_chinoise,class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :universite_année_langue_chinoise%>
      <%= form.text_field :universite_annee_langue_chinoise,class: "form-control col-md-3" %>
    </div>
      </div>
    <br>

    <div class="card card-block">
      <p class="style" style="margin:auto;" >INFORMATIONS SUR MA FORMATION</p>
      
      <div class="form-group">
      <%= form.label :année_début_formation %>
      <%= form.date_field :annee_debut_filiere,class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label "Province d'étude" %>
      <%= form.collection_select(:province_uinversite_filiere, Province.order(:name), :name, :name,
          {
            include_blank: true
          },
          class: "form-control col-md-3"
      ) %>
    </div>

    <div class="form-group">
      <%= form.label :université_de_formation%>
      <%= form.text_field :universite_filiere,class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :filiére%>
      <%= form.text_field :filiere, class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :Langue_de_formation  %>
      <%= form.collection_select(:langueformation_id, Langueformation.order(:name), :id, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
      </div>

    <div class="form-group">
      <%= form.label :durée_de_la_formation%>
      <%= form.text_field :duree_formation,class: "form-control col-md-3" %>
    </div>


    <div class="form-group">
      <%= form.label :année_de_graduation%>
      <%= form.date_field :annee_de_graduation, class: "form-control col-md-3" %>
    </div>

    <div class="form-group">
      <%= form.label :niveau_formation%>
      <%= form.collection_select(:niveau_formation, Niveauformation.order(:name), :name, :name,
        {
          include_blank: true
        },
        class: "form-control col-md-3"
      ) %>
    </div>
    </div>

    
  <br>
    <div class="form-group">
      <%= form.submit 'Valider', class: 'btn btn-primary' %>
    </div>
  <% end %>
