<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Etudiants</h1>
      <!--section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <div class="text-muted">Something else</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </section-->

      <!-- h2>Section title</h2 -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Date de Naissance</th>
              
              <th>Telephone</th>
              <th>Passport</th>
              <th>Universite</th>
              <th>Filiére</th>
              <th>Durée de Formation</th>
              <th>Anée de Graduation</th>
              <th>Niveau de Formation</th>
              <!--th>Date passport expiration</th>
              <th>Boursier</th>
              <th>Annee debut filiere</th>
              <th>Province uinversite filiere</th>
              <th>Universite filiere</th>
              <th>Filiére</th>
              <th>Langue de formation</th>
              <th>Duree formation</th>
              <th>Annee graduate</th>
              <th>Niveau formation</th>
              <th>Genre</th>
              <th>Live in campus</th>
              <th>Adresse</th>
              <th>Annee langue chinoise</th>
              <th>Province</th>
              <th>Universite annee langue chinoise</th-->
            </tr>
          </thead>
          <tbody>
            <% @etudiants.each do |etudiant| %>
      <tr>
        <td><%= etudiant.nom %></td>
        <td><%= etudiant.prenom %></td>
        <td><%= etudiant.date_nasissance %></td>
        
        <td><%= etudiant.telephone %></td>
        <td><%= etudiant.passport %></td>
        <td><%= etudiant.universite_filiere %></td>
        <td><%= etudiant.filiere %></td>
        <td><%= etudiant.duree_formation %></td>
        <td><%= etudiant.annee_de_graduation %></td>
        <td><%= etudiant.niveau_formation %></td>
        <td class="btn btn-primary" style="margin: 0.6em;" data-toggle="modal" data-target="#exampleModalLong">
            Voir Information
        </td>
        <!--td><%#= link_to 'Show', etudiant %></td-->
        <td><%= link_to 'Edit', edit_etudiant_path(etudiant), class:"btn btn-primary" %></td>
        <!--td><%#= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>



      <!-- Modal -->
      <% @etudiants.each do |etudiant| %>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= etudiant.nom + etudiant.prenom  %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Expiration du passport: <%= etudiant.date_passport_expiration %></p>
        <p>Carte Consulaire: <%= etudiant.carteconsulaire.name %></p>
        <p>Adresse: <%= etudiant.adresse %></p>
        <p>Boursier: <%= etudiant.boursier.name %></p>
        <p>Type de Bourse: <%= etudiant.typebourse.name if !etudiant.typebourse.nil? %></p>
        <p>A fait une annee de langue chinoise: <%= etudiant.faireanneelangue.name %></p>
        <p>Province(langue chinoise): <%= etudiant.province.name if !etudiant.province.nil? %></p>
        <p>Année de la langue: <%= etudiant.annee_langue_chinoise %></p>
        <p>Universite de la langue: <%= etudiant.universite_annee_langue_chinoise %></p>
        <p>Année début de Filiére: <%= etudiant.annee_debut_filiere %></p>
        <p>Province (Université filiére): <%= etudiant.province_uinversite_filiere %></p>
        <p>Université(Filiére): <%= etudiant.universite_filiere %></p>
        <p>Formation en : <%= etudiant.langueformation.name %></p>
        <p>Durée de la formation: <%= etudiant.duree_formation %></p>
        <p>Année de Graduation: <%= etudiant.annee_de_graduation %></p>
        <p>Niveau de Formation: <%= etudiant.niveau_formation %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>
    <% end %>
          </tbody>
        </table>
      </div>


      <%#= link_to 'New Etudiant', new_etudiant_path %>
</main>
