<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<br/>
<br/>
      <p><%= link_to "Generate Carte", generate_matricule_member_card_etudiants_path(), class:"btn btn-primary" if logged_in?(:site_admin, :president) %></p>
      <h1>Liste des etudiants<%= "(#{@total_etudiant})" if logged_in?(:site_admin, :responsable_zone, :president, :embassade)%></h1> 
      <!-- h1>Nombre des etudiants hors chine<%#= "(#{@entreenchine})" if logged_in?(:site_admin, :responsable_zone, :president, :embassade)%></h1 --> 
  <%#= current_user.role %>
  <%#= link_to "Extract Etudiant as spreadsheet", etudiants_path(format: "xlsx")  if logged_in?(:site_admin, :president)%>

      <!--section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <div class="text-muted">Something else</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </section-->

      <!-- h2>Section title</h2 -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Date de Naissance</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Passport</th>
              <th>Université</th>
              <th>Filière</th>
              <th colspan="3"></th>
              
            </tr>
          </thead>
          <tbody>
        <% @etudiants.each do |etudiant| %>
          <tr>
            <td><%= etudiant.province.zone.id %></td>
            <td><%= etudiant.prenom %></td>
            <td><%= etudiant.date_nasissance %></td>
            <td><%= etudiant.email %></td>
            <td><%= etudiant.telephone %></td>
            <td><%= etudiant.passport %></td>
            <td><%= etudiant.universite_filiere %></td>
            <td><%= etudiant.filiere %></td>
            <!-- td class="btn btn-primary" style="margin: 0.6em;" data-toggle="modal" data-target="#<%#= dom_id(etudiant) %>">
                Voir Information
            </td -->
            <td><%= link_to 'Show', etudiant, class:"btn btn-primary" %></td>
            <td><%= link_to 'Carte_membre', carte_membre_etudiants_path(etudiant), class:"btn btn-primary" %></td>
            <td><%#= link_to 'Voir',"#" ,data: {toggle: "modal", target: "##{etudiant.id}"}%></td>
            <td><%= link_to 'Edit', edit_etudiant_path(etudiant), class:"btn btn-primary" if current_user.id === etudiant.id %></td>
            <td><%= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin, :president, :responsable_zone) %></td>
            
          </tr>
          <!-- Modal >
            <div class="modal fade" id="<%#= dom_id(etudiant) %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="background-color:#292b2c;color:white;">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%#= etudiant.nom + etudiant.prenom%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <% if !etudiant.photo.nil? %>
                      <p style="width:25%;">Photo: <%#= image_tag etudiant.photo.to_s, class:"rounded mx-auto d-block img-fluid" %></p>
                    <% else %>
                      <p>Photo: Pas de photo</p>
                    <% end %>
                  
                    <% if !etudiant.passport_image.nil? %>
                      <p style="width:25%;">Passeport: <%#= image_tag etudiant.passport_image.to_s, class:"rounded mx-auto d-block img-fluid" %> </p>
                    <% else %>
                      <p>Passeport: Pas de photo du passeport </p>
                    <% end %>
                    
                    <p>Expiration du passport: <%#= etudiant.date_passport_expiration %></p>
                    <p>Êtes-vous en chine: <%#= etudiant.etreenchine %></p>
                    <p>Carte Consulaire: <%#= etudiant.carteconsulaire.name %></p>
                    <p>Adresse: <%#= etudiant.adresse %></p>
                    <p>Boursier: <%#= etudiant.boursier.name %></p>
                    <p>Type de Bourse: <%#= etudiant.typebourse.name if !etudiant.typebourse.nil? %></p>
                    <p>A fait une annee de langue chinoise: <%#= etudiant.faireanneelangue.name %></p>
                    <p>Province(langue chinoise): <%#= etudiant.province.name if !etudiant.province.nil? %></p>
                    <p>Année de la langue: <%#= etudiant.annee_langue_chinoise %></p>
                    <p>Universite de la langue: <%#= etudiant.universite_annee_langue_chinoise %></p>
                    <p>Année début de Filiére: <%#= etudiant.annee_debut_filiere %></p>
                    <p>Province de l'université: <%#= etudiant.province_uinversite_filiere %></p>
                    <p>Université: <%#= etudiant.universite_filiere %></p>
                    <p>Formation en : <%#= etudiant.langueformation.name %></p>
                    <p>Durée de la formation: <%#= etudiant.duree_formation %></p>
                    <p>Année de Graduation: <%#= etudiant.annee_de_graduation %></p>
                    <p>Niveau de Formation: <%#= etudiant.niveau_formation %></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button >
                  </div>
                </div>
              </div>
            </div -->
          
      
        <% end %>
        </tbody>
      </table>
      <div class="col-md-4" style="margin-left:30%;">
        <p> <strong> Code Qr de ma zone: </strong> </p>
        <p><%= image_tag @etdt.province.zone.codeqr.to_s, style:"width:100%;" if !@etdt.nil? %></p>
      </div>
      <%#= link_to 'New Etudiant', new_etudiant_path %>

<%#= image_tag src="AZ.png" %>

    <%#= render 'carte_membre' %>

</main>
