<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Etudiants</h1>
      <!--section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <div class="text-muted">Something else</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </section-->

      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Date de Naissance</th>
              <th>Telephone</th>
              <th>Passport</th>
              <th>Date passport expiration</th>
              <th>Boursier</th>
              <th>Annee debut filiere</th>
              <th>Province uinversite filiere</th>
              <th>Universite filiere</th>
              <th>Filiére</th>
              <th>Langue de formation</th>
              <th>Duree formation</th>
              <th>Annee graduate</th>
              <th>Niveau formation</th>
              <th>Genre</th>
              <th>Live in campus</th>
              <th>Adresse</th>
              <th>Annee langue chinoise</th>
              <th>Province</th>
              <th>Universite annee langue chinoise</th>
            </tr>
          </thead>
          <tbody>
            <% @etudiants.each do |etudiant| %>
      <tr>
        <td><%= etudiant.nom %></td>
        <td><%= etudiant.prenom %></td>
        <td><%= etudiant.date_nasissance %></td>
        <td><%= etudiant.genre %></td>
        <td><%= etudiant.telephone %></td>
        <td><%= etudiant.passport %></td>
        <td><%= etudiant.date_passport_expiration %></td>
        <td><%= etudiant.live_in_campus %></td>
        <td><%= etudiant.adresse %></td>
        <td><%= etudiant.boursier %></td>
        <td><%= etudiant.type_bourse %></td>
        <td><%= etudiant.annee_langue_chinoise %></td>
        <td><%= etudiant.province %></td>
        <td><%= etudiant.annee_langue_chinoise %></td>
        <td><%= etudiant.universite_annee_langue_chinoise %></td>
        <td><%= etudiant.annee_debut_filiere %></td>
        <td><%= etudiant.province_uinversite_filiere %></td>
        <td><%= etudiant.universite_filiere %></td>
        <td><%= etudiant.filiere %></td>
        <td><%= etudiant.duree_formation %></td>
        <td><%= etudiant.annee_de_graduation %></td>
        <td><%= etudiant.niveau_formation %></td>
        <td><%= link_to 'Show', etudiant %></td>
        <td><%= link_to 'Edit', edit_etudiant_path(etudiant) %></td>
        <td><%= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
          </tbody>
        </table>
      </div>
    </main>


<%= link_to 'New Etudiant', new_etudiant_path %>
