<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Etudiants</h1>

      <!--section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <div class="text-muted">Something else</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </section-->

      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem</td>
              <td>at</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet</td>
              <td>Duis</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent</td>
              <td>mauris</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus</td>
              <td>sed</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>augue</td>
              <td>semper</td>
              <td>porta</td>
              <td>Mauris</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>lacinia</td>
              <td>arcu</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>eget</td>
              <td>nulla</td>
              <td>Class</td>
              <td>aptent</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>ad</td>
              <td>litora</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>torquent</td>
              <td>per</td>
              <td>conubia</td>
              <td>nostra</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>per</td>
              <td>inceptos</td>
              <td>himenaeos</td>
              <td>Curabitur</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>sodales</td>
              <td>ligula</td>
              <td>in</td>
              <td>libero</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date nasissance</th>
      <th>Genre</th>
      <th>Telephone</th>
      <th>Passport</th>
      <th>Date passport expiration</th>
      <th>Live in campus</th>
      <th>Adresse</th>
      <th>Boursier</th>
      <th>Type bourse</th>
      <th>Annee langue chinoise</th>
      <th>Province</th>
      <th>Annee langue chinoise</th>
      <th>Universite annee langue chinoise</th>
      <th>Annee debut filiere</th>
      <th>Province uinversite filiere</th>
      <th>Universite filiere</th>
      <th>Filiere</th>
      <th>Langue de formation</th>
      <th>Duree formation</th>
      <th>Annee graduate</th>
      <th>Niveau formation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etudiants.each do |etudiant| %>
      <tr>
        <td><%= etudiant.nom %></td>
        <td><%= etudiant.prenom %></td>
        <td><%= etudiant.date_nasissance %></td>
        <td><%= etudiant.genre %></td>
        <td><%= etudiant.telephone %></td>
        <td><%= etudiant.passport %></td>
        <td><%= etudiant.date_passport_expiration %></td>
        <td><%= etudiant.live_in_campus %></td>
        <td><%= etudiant.adresse %></td>
        <td><%= etudiant.boursier %></td>
        <td><%= etudiant.type_bourse %></td>
        <td><%= etudiant.annee_langue_chinoise %></td>
        <td><%= etudiant.province %></td>
        <td><%= etudiant.annee_langue_chinoise %></td>
        <td><%= etudiant.universite_annee_langue_chinoise %></td>
        <td><%= etudiant.annee_debut_filiere %></td>
        <td><%= etudiant.province_uinversite_filiere %></td>
        <td><%= etudiant.universite_filiere %></td>
        <td><%= etudiant.filiere %></td>
        <td><%= etudiant.duree_formation %></td>
        <td><%= etudiant.annee_graduate %></td>
        <td><%= etudiant.niveau_formation %></td>
        <td><%= link_to 'Show', etudiant %></td>
        <td><%= link_to 'Edit', edit_etudiant_path(etudiant) %></td>
        <td><%= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etudiant', new_etudiant_path %>
