<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<% if @etudiant.errors.any? %>
  <% etudiant.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
  <% end %>
<% end %>


  
  <div class="row">
    <div class="col-md-4"  style="margin-right:auto;">
      <div class="card card-block">
        <p class="style" >PHOTO</p>
        <div>
          <p>
            <strong>Photo:</strong>
          </p>
          
          <p><%= image_tag @etudiant.photo.to_s, width:'100%' %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-block">
      <p class="style" >PASSEPORT</p>
        <div>
          <p>
            <strong>Passeport image:</strong>
          </p>
          <p><%= image_tag @etudiant.passport_image.to_s, width:'100%' %></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="card card-block">
    <p class="style" >INFORMATIONS PERSONNELLES</p>
    <div>
      <p>
        <strong>Nom:</strong>
        <%= @etudiant.nom %>
      </p>

      <p>
        <strong>Prénom:</strong>
        <%= @etudiant.prenom %>
      </p>

      <p>
        <strong>Date de naissance:</strong>
        <%= @etudiant.date_nasissance %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= @etudiant.genre.name %>
      </p>

      <p>
        <strong>Téléphone:</strong>
        <%= @etudiant.telephone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @etudiant.email %>
      </p>

      <p>
        <strong>Passeport:</strong>
        <%= @etudiant.passport %>
      </p>

      <p>
        <strong>Date passeport expiration:</strong>
        <%= @etudiant.date_passport_expiration %>
      </p>

      <p>
        <strong>Être en chine:</strong>
        <%= @etudiant.etreenchine %>
      </p>

      <p>
        <strong>Carte Consulaire:</strong>
        <%= @etudiant.carteconsulaire.name %>
      </p>

      <p>
        <strong>Adresse:</strong>
        <%= @etudiant.adresse %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="card card-block col-md-5" style="margin:1%;margin-right:auto;">
      <p class="style" >INFORMATIONS SUR MA BOURSE</p>
      <div>
        <p>
          <strong>Boursier:</strong>
          <%= @etudiant.boursier.name %>
        </p>

        <p>
          <strong>Type de bourse:</strong>
          <%= @etudiant.typebourse.name if !@etudiant.typebourse.nil?%>
        </p>
      </div>
    </div>

    
    <div class="card card-block col-md-5" style="margin:1%;">
      <p class="style" >ANNÉE DE LANGUE</p>
      <div>
        <p>
          <strong>Faire Année de langue chinoise:</strong>
          <%= @etudiant.faireanneelangue.name %>
        </p>

        <p>
          <strong>Province:</strong>
          <%= @etudiant.province.name if !@etudiant.province.nil? %>
        </p>

        <p>
          <strong>Année langue chinoise:</strong>
          <%= @etudiant.annee_langue_chinoise %>
        </p>

        <p>
          <strong>Universite année langue chinoise:</strong>
          <%= @etudiant.universite_annee_langue_chinoise %>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="card card-block">
    <p class="style" >INFORMATIONS SUR MA FORMATION</p>
    <div>
      <p>
        <strong>Année debut filière:</strong>
        <%= @etudiant.annee_debut_filiere %>
      </p>

      <p>
        <strong>Province uinversite de formation:</strong>
        <%= @etudiant.province_uinversite_filiere %>
      </p>
      <p>
        <strong>Ma Zone:</strong>
        <%= @data_zone.name %>
      </p>

      <p>
        <strong>Universite de formation:</strong>
        <%= @etudiant.universite_filiere %>
      </p>

      <p>
        <strong>Filière:</strong>
        <%= @etudiant.filiere %>
      </p>

      <p>
        <strong>Langue de Formation:</strong>
        <%= @etudiant.langueformation.name %>
      </p>

      <p>
        <strong>Duree formation:</strong>
        <%= @etudiant.duree_formation %>
      </p>

      <p>
        <strong>Année de graduation:</strong>
        <%= @etudiant.annee_de_graduation %>
      </p>

      <p>
        <strong>Niveau formation:</strong>
        <%= @etudiant.niveau_formation %>
      </p>
    </div>
  </div>

  <hr>  

  <%= link_to 'Edit', edit_etudiant_path(@etudiant) %> |
  <%= link_to 'Back', etudiants_path %>
</main>